<?xml version="1.0" encoding="UTF-8"?>

<suite name="Default suite" parallel="methods" verbose="3">

    <listeners>

        <listener class-name="org.listener.TestListener" />

    </listeners>

    <test name=" First test" skipfailedinvocationcounts="false">

        <classes>

            <class name="project.HomePageTest">

            </class>

        </classes>

    </test>

</suite>
